<div>
  <h3 class="text-center mb-2">Select Currency For Given Symbol:</h3>
  <form
    id="cryptoCurrencyForm"
    hx-post="/api/currency"
    hx-target="#post-response"
    hx-target-error="#errors"
    class="flex flex-col gap-4 w-full"
    onsubmit="clearResponses()"
    hx-indicator="#spinner"
  >
    <select
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
      name="cg_id"
      id="cg_id"
    >
      {% for cg_currency in cg_currencies %}
      <option value="{{ cg_currency.id }}">{{ cg_currency.name }}</option>
      {% endfor %}
    </select>
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800"
    >
      Add
    </button>
    <div id="post-response" class="text-white w-full"></div>
  </form>
  <script>
    // Function to clear the error and response messages
    function clearResponses() {
      // Clear previous response and error messages
      document.getElementById("errors").innerHTML = "";
      document.getElementById("post-response").innerHTML = "";
    }
  </script>
</div>
